<li class="nav-item"> <a class="nav-link" asp-controller="Home" asp-action="Index">HOME</a></li>
<li class="nav-item"> <a class="nav-link" asp-controller="Home" asp-action="Menu">MENU</a></li>
<li class="nav-item"> <a class="nav-link" asp-controller="Home" asp-action="About">ABOUT</a></li>
<li class="nav-item"> <a class="nav-link" asp-controller="Home" asp-action="Testi">TESTIMONIALS</a></li>
<li class="nav-item"> <a class="nav-link" asp-controller="Account" asp-action="Login">LOGIN</a></li>
<li class="nav-item"> <a class="nav-link" asp-controller="Cart" asp-action="Checkout"><img src="~/Logo/shoppingcart.png" width="24" /></a></li>

