

<li class="nav-item"> <a class="nav-link" asp-controller="Home" asp-action="Index">HOME</a></li>
<li class="nav-item"> <a class="nav-link" asp-controller="Home" asp-action="Menu">MENU</a></li>
<li class="nav-item"> <a class="nav-link" asp-controller="Home" asp-action="About">ABOUT</a></li>
<li class="nav-item"> <a class="nav-link" asp-controller="Home" asp-action="Testi">TESTIMONIALS</a></li>
<li class="nav-item">
    <a class="dropbtn " onclick="myFunction()">
        @User.Identity.Name<i class="fa fa-caret-down" style="position:absolute; margin: 10px 10px 10px"></i>
    </a>

    <div class="dropdown-content" id="myDropdown" style="margin-left:0px">
        <a asp-controller="Account" asp-action="EditProfile">My Profile</a>
        <a asp-controller="Admin" asp-action="ListOfProducts">Maintain Product</a>
        <a asp-controller="Admin" asp-action="TestimonialList">Maintain Testimonial</a>
        <a asp-controller="Admin" asp-action="ShowUsers">Maintain User</a>
        <a asp-controller="Admin" asp-action="UpdateAbout">Maintain About</a>
        <a asp-controller="Account" asp-action="Logoff">Logout</a>


    </div>

<li class="cart">
<li class="nav-item"> <a class="nav-link" ></a></li>


<script>
    /* When the user clicks on the button,
    toggle between hiding and showing the dropdown content */
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function (e) {
        if (!e.target.matches('.dropbtn')) {
            var myDropdown = document.getElementById("myDropdown");
            if (myDropdown.classList.contains('show')) {
                myDropdown.classList.remove('show');
            }
        }
    }
</script>
