<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <!-- style sheets references -->
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- script files references -->
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery/jquery.validate.min.js"></script>
    <script src="~/lib/jquery/jquery.validate.unobtrusive.min.js"></script>

    @RenderSection("ScriptSection", false)

    <style>
        body {
            margin: 0;
            font-family: 'Gill Sans MT', Helvetica, sans-serif;
        }

        .topnav {
            overflow: hidden;
            background-color: #F1EB22;
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

            .topnav a {
                justify-content: flex-end;
                color: #f2f2f2;
                padding: 10px 12px;
                text-decoration: none;
                font-size: 17px;
            }

        ul {
            margin: 10px;
            display: flex;
            justify-content: center;
        }

            ul li {
                list-style-type: none;
            }

        .topnav li a {
            text-decoration: none;
            display: block;
            color: black;
            margin-top: 15px;
        }

        .logo img {
            width: 12%;
        }

        .topnav a:hover {
            color: white;
        }

        .topnav a.active {
            background-color: #04AA6D;
            color: white;
        }

        .hero {
            background-color: white;
            color: #FFFFFF;
            text-align: center;
            font-family: 'Haettenschweiler';
            padding: 200px;
            padding-bottom: 350px;
            background-image: url(/Logo/fb_photo.jpg);
            background-size: cover;
            background-position: center;
        }

        .button {
            background-color: #F0C415;
            border: none;
            color: white;
            padding: 22px 35px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 24px;
            cursor: pointer;
        }

        .footer {
            overflow: hidden;
            background-color: #000000;
            color: white;
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        footer {
            overflow: hidden;
            background-color: #222222;
            color: white;
            display: flex;
            justify-content: space-between;
            width: 100%;
            position: absolute;
        }

            footer a {
                color: white;
                margin: 2%
            }

        .box1 {
            flex: 3;
            padding: 30px;
        }

        .box2 {
            flex: 1;
            text-align: center;
            margin-top: 40px;
        }


        .dropdown {
            float: left;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: white;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            .dropdown-content a {
                float: none;
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                text-align: left;
            }

                .dropdown-content a:hover {
                    background-color: #F1EB22;
                    color: black;
                }

        .show {
            display: block;
        }
    </style>
</head>
<body>
    <div class="topnav">
        <div class="logo">
            <img src="~/Logo/With Slogan 2/mesah_delicacies_logo-12.png" alt="logo" />
        </div>

        <ul>

            @if (User.Identity.IsAuthenticated)
            {
                if (User.IsInRole("manager"))
                {
                    <partial name="_LayoutMgr" />
                }
                else
                {
                    <partial name="_LayoutMember" />
                }
            }
            else
            {
                <partial name="_LayoutGuest" />
            }


        </ul>

    </div>

    <div class="row">
        <div class="col-12">
            @RenderBody()

        </div>

    </div>

    <footer>

        <div class="box1">
            <img src="~/footer_logo/gmail.png" />&nbsp &nbsp mesahdelicacies@gmail.com <br />
            <br />
            <img src="~/footer_logo/whatsapp.png" />&nbsp &nbsp +65 9697 6961 <br />
            <br />
            <img src="~/footer_logo/pin.png" /><a href="https://goo.gl/maps/WFLLFoErqyzPMyrq9"> 930 YISHUN AVENUE 2, #B1-13, NORTHPOINT SHOPPING CENTRE, S(769098)</a>
        </div>
        <div class="box2">
            <a href="https://www.facebook.com/MesahwithDelicacies/"><img src="~/footer_logo/facebook.png"></a>

            <a href="https://www.instagram.com/mesahdelicacies/"><img src="~/footer_logo/instagram.png" /></a>
        </div>

    </footer>

</body>
</html>
