@model MesahUser

<head>
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>

    <title>Create User</title>

    <style>

        * {
            margin: 0;
            padding: 0;
        }

        body {
            background: #e9eaea;
            user-select: none;
            background-size: cover;
            background-position: center;
            width: 100%;
        }

        form {
            margin: 10px;
            padding-left: 25px
        }

        button {
            background: #FF9E18;
            background: -moz-linear-gradient(left, #FF9E18 0%, #F0C415 43%, #F1EB22 100%);
            background: -webkit-linear-gradient(left, #FF9E18 0%, #F0C415 43%, #F1EB22 100%);
            background: linear-gradient(to right, #FF9E18 0%, #F0C415 43%, #F1EB22 100%);
            width: 25%;
            height: 40px;
            margin: auto;
            font-size: 18px;
            text-transform: uppercase;
            background-color: #70db70;
            color: #FFFFFF;
            font-weight: bold;
            letter-spacing: 1px;
            cursor: pointer;
            text-align: center;
            border: none;
            margin-bottom: 30px;
            border-radius: 30px;
        }

            button:hover {
                color: #4AB848;
                list-style-type: none;
                text-decoration: none;
            }

    </style>
</head>
<body>
    @if (ViewData["Message"] != null)
    {
        <div class="form-group row">
            <div class="offset-sm-2 col-sm-8">
                <div class="alert alert-@ViewData["MsgType"]">
                    @Html.Raw(ViewData["Message"])
                </div>
            </div>
        </div>
    }
    <h2 style="margin: 45px; font-family:Inter;">Add Product</h2>
    <form asp-controller="Admin" asp-action="CreateUser" method="post">

        <div class="container">

            <div class="form-group">
                <label class="'control-label col-sm-5" asp-for="UserId"><b>Username</b></label>
                <div class="col-sm-4">
                    <input class="form-control" asp-for="UserId" />
                </div>

                <div class="col-sm-12">
                    <span asp-validation-for="UserId" class="text-danger"></span>
                </div>

            </div>

            <div class="form-group">
                <label class="'control-label col-sm-5" asp-for="UserRole"><b>Role</b></label>
                <div class="col-sm-4">
                    <select class="form-control" asp-for="UserRole">
                        <option value="">--- SELECT ---</option>
                        <option value="member">Member</option>
                        <option value="manager">Manager</option>
                    </select>
                </div>

                <div class="col-sm-12">
                    <span asp-validation-for="UserRole" class="text-danger"></span>
                </div>

            </div>


            <div class="form-group">
                <label class="'control-label col-sm-5" asp-for="UserPw"><b>Password</b></label>
                <div class="col-sm-4">
                    <input class="form-control" asp-for="UserPw" />
                </div>

                <div class="col-sm-12">
                    <span asp-validation-for="UserPw" class="text-danger"></span>
                </div>

            </div>


            <div class="form-group">
                <label class="'control-label col-sm-5" asp-for="FullName"><b>Name</b></label>
                <div class="col-sm-4">
                    <input class="form-control" asp-for="FullName" />
                </div>

                <div class="col-sm-12">
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>
            </div>



            <div class="form-group">
                <label class="'control-label col-sm-5" asp-for="Email"><b>Email</b></label>
                <div class="col-sm-4">
                    <input class="form-control" asp-for="Email" />
                </div>

                <div class="col-sm-12">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

            </div>



            <div class="form-group">
                <label class="'control-label col-sm-8" asp-for="Address"><b>House Address</b></label>
                <div class="col-sm-4">
                    <input class="form-control" asp-for="Address" />
                </div>

                <div class="col-sm-12">
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>

            </div>



            <div class="form-group">
                <label class="'control-label col-sm-10" asp-for="PostalCode"><b>Postal Code (Singapore)</b></label>
                <div class="col-sm-4">
                    <input class="form-control" asp-for="PostalCode" value="S" />
                </div>

                <div class="col-sm-12">
                    <span asp-validation-for="PostalCode" class="text-danger"></span>
                </div>

            </div>


            <div class="form-group">
                <label class="'control-label col-sm-10" asp-for="Phone"><b>Phone Number (+65)</b></label>
                <div class="col-sm-4">
                    <input class="form-control" asp-for="Phone" />
                </div>

                <div class="col-sm-12">
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>

            </div>

            <br />
            <br />

            <div class="form-group row">
                <button type="submit">Create</button>
            </div>
        </div>


    </form>

</body>

