<!--rabak i dont think correct-->
@model MesahUser

<form asp-controller="Account"
      asp-action="Login"
      method="post">
    <h2>Please Sign In</h2>
    <div class="col-sm-4">
        <div class="form-group row">
            <label asp-for="UserId" class="control-label">User ID :</label>
            <input type="text" asp-for="UserId" class="form-control" />
            <span asp-validation-for="UserId" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <label asp-for="UserPw" class="control-label">Password :</label>
            <input type="password" asp-for="UserPw" class="form-control" />
            <span asp-validation-for="UserPw" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <span class="text-danger">@ViewData["Message"]</span>
        </div>
        <div class="form-group row">
            <input type="submit" class="btn btn-primary" value="Login" />
        </div>
    </div>
</form>