<!--rabak i dont think correct-->
<!DOCTYPE html>
<html>
<head>
    <script>
        $(document).ready(function () {
            $(".login-form").hide();
            $(".signup").css("background", "#47d147");
            $(".login").css("background", "#fff");

            $(".signup").click(function () {
                $(".signup-form").show();
                $(".login-form").hide();
                $(".signup").css("background", "#fff");
                $(".login").css("background", "#47d147");
            });

            $(".login").click(function () {
                $(".signup-form").hide();
                $(".login-form").show();
                $(".signup").css("background", "#47d147");
                $(".login").css("background", "#fff");
            });

            

            $(".btn").click(function () {
                $(".input").val("")
            });
            
        });
    </script>
    @section ScriptSection{

    }
    <style>


        * {
            margin: 0;
            padding: 0;
        }

        body {
            background: #e9eaea;
            user-select: none;
            background-image: url(/Logo/login2.jpg);
            background-size: cover;
            background-position: center;
            padding-bottom: 50px;
            width: 100%;
        }

        .container {
            width: 450px;
            margin: 30px auto;
            font-family: roboto;
        }

        .signup,
        .login{
            width: 50%;
            background: #fff;
            float: left;
            height: 60px;
            line-height: 60px;
            text-align: center;
            cursor: pointer;
            text-transform: uppercase;
        }

        .login-form {
            background: #fff;
            padding: 40px;
            clear: both;
            width: 100%;
            box-sizing: border-box;
            height: 400px;
        }

        .signup-form{
            background: #fff;
            padding: 40px;
            clear: both;
            width: 100%;
            box-sizing: border-box;
            height: 800px;
        }
        

        .input {
            width: 100%;
            padding: 20px;
            box-sizing: border-box;
            margin-bottom: 25px;
            border: 2px solid #e9eaea;
            color: #3e3e40;
            font-size: 14px;
            outline: none;
        }

            .input:focus {
                border: 2px solid #34b3a0;
            }

        .btn {
            width: 100%;
            background: #34b3a0;
            height: 60px;
            text-align: center;
            line-height: 60px;
            text-transform: uppercase;
            background-color: #70db70;
            color: #fff;
            font-weight: bold;
            letter-spacing: 1px;
            cursor: pointer;
            margin-bottom: 30px;
        }

        span a {
            text-decoration: none;
            color: #000;
        }

        ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: #3e3e40;
            font-family: roboto;
        }

        ::-moz-placeholder { /* Firefox 19+ */
            color: #3e3e40;
            font-family: roboto;
        }

        :-ms-input-placeholder { /* IE 10+ */
            color: #3e3e40;
            font-family: roboto;
        }

        :-moz-placeholder { /* Firefox 18- */
            color: #3e3e40;
            font-family: roboto;
        }

        footer {
            overflow: hidden;
            background-color: #222222;
            color: white;
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

            footer a {
                color: white;
                margin: 2%
            }

        .box1 {
            flex: 3;
            padding: 30px;
        }

        .box2 {
            flex: 1;
            text-align: center;
            margin-top: 40px;
        }
    </style>

    <title>Login Page</title>
</head>

<body>
    <div class="wrapper">
        <div class="container">

            <div class="signup">Sign Up</div>
            <div class="login">Log In</div>

            <div class="login-form">
                <input type="text" placeholder="Email or Username" class="input"><br />
                <input type="password" placeholder="Password" class="input"><br />
                <div class="btn">log in</div>
                <span><a href="#">Forgot username or password.</a></span>
            </div>

            <div class="signup-form">
                <input type="text" placeholder="Choose a Username" class="input"><br />
                <input type="password" placeholder="Choose a Password" class="input"><br />
                <input type="text" placeholder="Your Full Name" class="input"><br />
                <input type="text" placeholder="Your Email Address" class="input"><br />
                <input type="text" placeholder="Your House Address" class="input"><br />
                <input type="text" placeholder="Your Postal Code" class="input"><br />
                <input type="text" placeholder="Your Phone Number" class="input"><br />


                <div class="btn">Create account</div>
            </div>




        </div>
        <footer>

            <div class="box1">
                <img src="~/footer_logo/gmail.png" />&nbsp &nbsp mesahdelicacies@gmail.com <br />
                <br />
                <img src="~/footer_logo/whatsapp.png" />&nbsp &nbsp +65 9697 6961 <br />
                <br />
                <img src="~/footer_logo/pin.png" /><a href="https://goo.gl/maps/WFLLFoErqyzPMyrq9"> 930 YISHUN AVENUE 2, #B1-13, NORTHPOINT SHOPPING CENTRE, S(769098)</a>
            </div>
            <div class="box2">
                <a href="https://www.facebook.com/MesahwithDelicacies/"><img src="~/footer_logo/facebook.png"></a>

                <a href="https://www.instagram.com/mesahdelicacies/"><img src="~/footer_logo/instagram.png" /></a>
            </div>

        </footer>
    </div>
</body>
</html>
