<!--rabak i dont think correct-->
@model MesahUser
<!DOCTYPE html>
<html>
<head>
    <script>
        $(document).ready(function () {
            $(".signup-form").show();
            $(".signup").css("background", "#47d147");





            $(".btn").click(function () {
                $(".input").val("")
            });

        });
    </script>
    @section ScriptSection{

    }
    <style>


        * {
            margin: 0;
            padding: 0;
        }

        body {
            background: #e9eaea;
            user-select: none;
            background-image: url(/Logo/login2.jpg);
            background-size: cover;
            background-position: center;
            width: 100%;
        }

        .container {
            width: 450px;
            margin: 30px auto;
            font-family: roboto;
        }

        .signup {
            width: 100%;
            background: #fff;
            float: left;
            height: 60px;
            line-height: 60px;
            text-align: center;
            cursor: pointer;
            text-transform: uppercase;
            font-family: 'Bernard MT';
        }

        .signup-form {
            background: #fff;
            padding: 40px;
            clear: both;
            width: 100%;
            box-sizing: border-box;
            height: 780px;
        }



        .input {
            width: 100%;
            padding: 20px;
            box-sizing: border-box;
            margin-bottom: 25px;
            border: 2px solid #e9eaea;
            color: #3e3e40;
            font-size: 14px;
            outline: none;
        }

            .input:focus {
                border: 2px solid #34b3a0;
            }

        .button {
            width: 100%;
            background: #34b3a0;
            height: 60px;
            font-size: 18px;
            text-transform: uppercase;
            background-color: #70db70;
            color: #fff;
            font-weight: bold;
            letter-spacing: 1px;
            cursor: pointer;
            margin-bottom: 15px;
            border-radius: 15px
        }

            .button:hover {
                list-style-type: none;
                text-decoration: none;
            }

        span a {
            text-decoration: none;
            color: #000;
        }

        ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: #3e3e40;
            font-family: roboto;
        }

        ::-moz-placeholder { /* Firefox 19+ */
            color: #3e3e40;
            font-family: roboto;
        }

        :-ms-input-placeholder { /* IE 10+ */
            color: #3e3e40;
            font-family: roboto;
        }

        :-moz-placeholder { /* Firefox 18- */
            color: #3e3e40;
            font-family: roboto;
        }
    </style>

    <title>Login Page</title>
</head>

<body>

    <form asp-controller="Account" asp-action="SignUp" method="post">
        <div class="wrapper">
            <div class="container">


                <div class="signup">Sign Up</div>


                <div class="signup-form">
                    <div class="form-group row">
                        <input class="form-control" placeholder="Choose a Username" asp-for="UserId"><br />
                    </div>

                    <div class="col-sm-4">
                        <span asp-validation-for="UserId" class="text-danger"></span>
                    </div>

                    <div class=" form-group row">
                        <input class="form-control" placeholder="Choose a Password" asp-for="UserPw"><br />
                    </div>
                    <div class="col-sm-4">
                        <span asp-validation-for="UserPw" class="text-danger"></span>
                    </div>

                    <div class=" form-group row">
                        <input class="form-control" placeholder="Your Full Name" asp-for="FullName"><br />
                    </div>
                    <div class="col-sm-4">
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>


                    <div class=" form-group row">
                        <input class="form-control" placeholder="Your Email Address" asp-for="Email"><br />
                    </div>
                    <div class="col-sm-4">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class=" form-group row">
                        <input class="form-control" placeholder="Your House Address" asp-for="Address"><br />
                    </div>

                    <div class="col-sm-4">
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>

                    <div class=" form-group row">
                        <input class="form-control" placeholder="Your Postal Code" asp-for="PostalCode"><br />
                    </div>

                    <div class="col-sm-4">
                        <span asp-validation-for="PostalCode" class="text-danger"></span>
                    </div>

                    <div class=" form-group row">
                        <input class="form-control" placeholder="Your Phone Number" asp-for="Phone"><br />
                    </div>
                    <div class="col-sm-4">
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>


                    <button type="submit">Create Account</button>
                </div>

            </div>

        </div>
        @if (ViewData["Message"] != null)
        {
            <div class="form-group row">
                <div class="offset-sm-2 col-sm-6">
                    <div class="alert alert-@ViewData["MsgType"]">
                        @Html.Raw(ViewData["Message"])
                    </div>
                </div>
            </div>
        }

    </form>
    
</body>
</html>
