<!DOCTYPE html>
<html>
<head>
    @section ScriptSection{

    }
    <style>


        .hero {
            background-color: white;
            color: #FFFFFF;
            text-align: center;
            font-family: 'Haettenschweiler';
            padding-bottom: 350px;
            background-image: url(/Logo/leaves.jpg);
            background-size: cover;
            background-position: center;
            width: 100%;
        }


    </style>
    <title>About Page</title>
</head>

<body>

   
        <div class="hero">
            <h1>About Us</h1>

            <p>
                <h1>
                    Mesah Delicacies is a home-based food business that specializes in Malay food cuisine
                    and snacks. They also do orders for events (e.g., birthday parties, wedding, feasts,
                    etc.).
                </h1>
            </p>

        </div>

</body>
</html>
