<!DOCTYPE html>
<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    @section ScriptSection{

    }
    <style>
        .hero {
            background-color: white;
            color: #FFFFFF;
            text-align: center;
            background-image: url(/Logo/leaf3.jpg);
            background-size: cover;
            background-position: center;
            width: 100%;
        }

        .sidekick {
            background-color: white;
            color: #FFFFFF;
            text-align: center;
            color: black;
            font-family: 'Raleway';
            padding-left: 100px;
            padding-right: 100px;
            padding-top: 80px;
            padding-bottom: 100px;
        }

        h2 {
            font-size: 20px
        }
    </style>
    <title>About Page</title>
</head>

<body>
    <div class="hero">

        <div class="sidekick">
            <h1><b>About Us</b></h1>
            <br />
            <p>
                <h2>
                    Mesah Delicacies is a home-based food business that specializes in Malay food cuisine
                    and snacks. We also do orders for events (e.g., birthday parties, wedding, feasts,
                    etc.).
                </h2>
            </p>
        </div>

    </div>
</body>
</html>