<h1>About Us</h1>

<p>
    Mesah Delicacies is a home-based food business that specializes in Malay food cuisine
    and snacks. They also do orders for events (e.g., birthday parties, wedding, feasts,
    etc.).
</p>