<!DOCTYPE html>
<html>
<head>
    @section ScriptSection{

    }
    <style>


        .hero {
            background-color: white;
            color: #FFFFFF;
            text-align: center;
            background-image: url(/Logo/leaves.jpg);
            background-size: cover;
            background-position: center;
            width: 100%;
        }

        .sidekick {
            background-color: transparent;
            color: #FFFFFF;
            text-align: center;
            font-family: 'Karla';
            padding-left: 100px;
            padding-right: 100px;
            padding-top: 100px;
        }


    </style>
    <title>About Page</title>
</head>

<body>
    <div class="hero">

        <div class="sidekick">
            <h1>About Us</h1>
            <br />
            <p>
                <h2>
                    Mesah Delicacies is a home-based food business that specializes in Malay food cuisine
                        and snacks. We also do orders for events (e.g., birthday parties, wedding, feasts,
                        etc.).
                </h2>
            </p>
        </div>

    </div>
</body>
</html>
