<!DOCTYPE html>
<html>
<head>
    @section ScriptSection{

    }
    <style>


        .hero {
            background-color: white;
            color: #FFFFFF;
            text-align: center;
            font-family: 'Haettenschweiler';
            padding-bottom: 350px;
            background-image: url(/Logo/fb_photo.jpg);
            background-size: cover;
            background-position: center;
            width: 100%;
        }

        .button {
            background-color: #F0C415;
            border: none;
            color: white;
            padding: 22px 35px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 24px;
            cursor: pointer;
        }

            .button:hover {
                background-color: #222222;
            }

        footer {
            overflow: hidden;
            background-color: #000000;
            color: white;
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

            footer a {
                color: white;
                margin: 2%
            }

        .box1 {
            flex: 3;
            padding: 30px;
        }

        .box2 {
            flex: 1;
            text-align: center;
            margin-top: 40px;
        }
    </style>
    <title>Home Page</title>
</head>

<body>
    <div class="hero">
        <h1>MESAH DELICACIES</h1>
        <button class="button">PRE ORDER NOW</button>

    </div>

    <footer>
        
        <div class="box1">
            <img src="~/footer_logo/email.png"/> mesahdelicacies@gmail.com <br />
            <br />
            <img src="~/footer_logo/placeholder.png"/><a href="https://goo.gl/maps/WFLLFoErqyzPMyrq9">930 YISHUN AVENUE 2, #B1-13, NORTHPOINT SHOPPING CENTRE, S(769098)</a>
        </div>
        <div class="box2">
            <a href= "https://www.facebook.com/MesahwithDelicacies/"><img src="~/footer_logo/facebook2.png"></a>

            <a href="https://www.instagram.com/mesahdelicacies/"><img src ="~/footer_logo/instagram.png" /></a>
        </div>
   
    </footer>
</body>
</html>




