<!DOCTYPE html>
<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    @section ScriptSection{

    }
    <style>


        .hero {
            background-color: white;
            color: #FFFFFF;
            text-align: center;
            font-family: 'Haettenschweiler';
            padding-bottom: 350px;
            background-image: url(/Logo/fb_photo.jpg);
            background-size: cover;
            background-position: center;
            width: 100%;
            font-family: Raleway;
        }

        .button {
            background-color: #F0C415;
            border: none;
            color: white;
            padding: 20px 30px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 20px;
            cursor: pointer;
        }

            .button:hover {
                opacity: 0.8;
                color: white;
                list-style-type: none;
                text-decoration: none;
            }
    </style>
    <title>Home Page</title>
</head>

<body>
    @if (ViewData["Message"] != null)
    {
        <div class="form-group row">
            <div class="offset-sm-2 col-sm-8">
                <div class="alert alert-@ViewData["MsgType"]">
                    @Html.Raw(ViewData["Message"])
                </div>
            </div>
        </div>
    }
<div class="hero">

    @if (User.Identity.IsAuthenticated)
    {
        if (User.IsInRole("manager"))
        {
            <h1><b>MESAH DELICACIES</b></h1>
            <a class="button" asp-controller="Account" asp-action="EditProfile">WELCOME @User.Identity.Name</a>
        }
        else
        {
            <h1><b>MESAH DELICACIES</b></h1>
            <a class="button" asp-controller="Home" asp-action="Menu">ORDER NOW</a>
        }
    }
    else
    {
        <h1><b>MESAH DELICACIES</b></h1>
        <a class="button" asp-controller="Home" asp-action="Menu">ORDER NOW</a>
    }

</div>

</body>
</html>




