<!DOCTYPE html>
<html>
<head>
    @section ScriptSection{

    }
    <style>


        .hero {
            background-color: white;
            color: #FFFFFF;
            text-align: center;
            font-family: 'Haettenschweiler';
            padding-bottom: 350px;
            background-image: url(/Logo/fb_photo.jpg);
            background-size: cover;
            background-position: center;
            width: 100%;
        }

        .button {
            background-color: #F0C415;
            border: none;
            color: white;
            padding: 22px 35px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 24px;
            cursor: pointer;
            
        }

        .button:hover {
            background-color: #222222;
            list-style-type: none;
            text-decoration: none;
        }

    </style>
    <title>Home Page</title>
</head>

<body>
    <div class="hero">
        <h1>MESAH DELICACIES</h1>
        <a href ="Menu" class="button">PRE ORDER NOW</a>

    </div>
 
</body>
</html>




