@model List<Product>;

<!DOCTYPE html>
<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>

    <style>

        .container {
            width: 88vw;
            margin: 0 auto;
        }

        .product {
            margin: 2rem;
            position: relative;
            display: grid;
            grid-template-columns: repeat(2,1fr);
        }

        .product-content {
            background: lightgray;
            padding: 3rem 0.5rem 2rem 0.5rem;
            cursor: pointer;
        }


        .product-img {
            background: white;
            box-shadow: 0 0 20px 10px white;
            width: 200px;
            height: 200px;
            margin: 0 auto;
            border-radius: 50%;
            transition: background 0.5s ease;
        }

        .product-btns {
            display: flex;
            justify-content: center;
            margin-top: 1.4rem;
            opacity: 0;
            transition: opacity 0.6s ease;
        }

        .btn-cart, .btn-buy {
            background: transparent;
            border: 1px solid black;
            padding: 0.8rem 0;
            width: 125px;
            font-family: inherit;
            text-transform: uppercase;
            cursor: pointer;
            border: none;
            transition: all 0.6s ease;
        }

        .btn-cart {
            background: black;
            color: white;
        }

        .btn-buy {
            background: white;
        }

        .btn-cart:hover {
            background: YellowGreen;
            color: white;
        }

        .btn-buy:hover {
            background: YellowGreen;
            color: white;
        }

        .product-info {
            background: OldLace;
            padding: 2rem;
        }

        .product-name {
            color: black;
            display: block;
            font-size: 1rem;
            text-transform: uppercase;
            font-weight: bold;
        }

        .prices p {
            font-size: 1.5rem;
            padding-top: 0.6rem;
            padding-right: 0.6rem;
            display: inline-block;
            color: OliveDrab;
            font-weight: bold;
        }

        .product-img img {
            transition: transform 0.6s ease;
        }

        .product:hover .product-img img {
            transform: scale(1.1);
        }

        .product:hover .product-img {
            background: YellowGreen;
        }

        .product:hover .product-btns {
            opacity: 1;
        }

        #cart-items {
            position: absolute;
            right: 130px;
            top: 10px;
            background-color: OldLace;
            margin-top: 10px;
            padding: 50px 40px;
            z-index: 999;
            color: OliveDrab;
        }

        .header {
            width: 100%;
            overflow: auto;
            background-color: white;
            color: #00a000;
            clear: both;
            padding: 20px 50px;
            box-sizing: border-box;
        }

        .cart {
            float: right;
            text-align: center;
        }

        .total-text p {
            display: inline;
            color: OliveDrab;
        }

        .remove {
            margin-left: 10px;
            font-size: 15px;
            background-color: Transparent;
            background-repeat: no-repeat;
            border: none;
            cursor: pointer;
            overflow: hidden;
            outline: none;
        }

        .checkout {
            background-color: white;
            border-radius: 4px;
        }

        .FoodPics {
            background: white;
            box-shadow: 0 0 20px 10px white;
            width: 200px;
            height: 200px;
            margin: 0 auto;
            border-radius: 50%;
            transition: background 0.5s ease;
        }
    </style>

     <script>
        $(function () {

            $("#cart-items").slideUp();
            $(".cart").on("click", function () {
                $("#cart-items").slideToggle();
            });

            $("#items-basket").text("(" + ($("#list-item").children().length) + ")");


            $(".product").on("click", function () {
                $("#cart-items").slideDown();
                setTimeout(function () {
                    $("#cart-items").slideUp();
                }, 2000)
                //add items to basket
                $(this).each(function () {
                    var name = $(this).children(".product-info").children(".product-name").text();
                    var remove = "<button class='remove'> X </button>";
                    var cena = "<span class='eachPrice'>" + (parseFloat($(this).children(".product-info").children(".prices").children(".price").text())) + "</span>";
                    $("#list-item").append("<li>" + name + "&#09; - &#09;" + "$" + cena + remove + "</li>");


                    //number of items in basket
                    $("#items-basket").text("(" + ($("#list-item").children().length) + ")");
                    $("#items-basket").text();

                    //calculate total price
                    var totalPrice = 0;
                    $(".eachPrice").each(function () {
                        var cenaEach = parseFloat($(this).text());
                        totalPrice += cenaEach;
                    });
                    $("#total-price").text("$" + totalPrice);
                });

                //remove items from basket
                $(".remove").on("click", function () {
                    $(this).parent().remove();

                    var totalPrice = 0;
                    $(".eachPrice").each(function () {
                        var cenaEach = parseFloat($(this).text());
                        totalPrice += cenaEach;
                    });
                    $("#total-price").text("$" + totalPrice);
                    $("#items-basket").text("(" + ($("#list-item").children().length) + ")");
                });
            });
        })
    </script>
    


    <title>Menu Page</title>
</head>
<body>


    

    <div class="header">
        <div class="cart">

            <div class="total-text">
                <img src="~/Logo/shoppingcart.png" width="24" />
                <p id="items-basket"></p>
            </div>
        </div>

        <div id="cart-items">
            <ol id="list-item">
            </ol>

            <div class="total-text">
                <p>Total Amount: </p>
                <p id="total-price"></p>
            </div>


        </div>




    </div>

    @foreach (Product row in Model)
    {


        <div class="container">

            <!--1st product-->
            <div class="product">
                <div class="product-content">
                    <div class="product-img">
                        <img class="FoodPics" src="~/FoodPics/@row.Picture" alt="product image">
                    </div>

                </div>
                <div class="product-info">
                    <a href="#" class="product-name">@row.ProductName</a>
                    <div class="prices">
                        <p>$</p>
                        <p class="price">@row.Price</p>
                    </div>
                    <div class="product-btns">
                        <a href="#" data-name=@row.ProductName data-price=@row.Price class="add-to-cart btn btn-primary">Add to cart</a>
                        
                            <span><i class="fas fa-plus" id="basket"></i></span>
                       

                    </div>
                </div>
            </div>
            <!--end 1st product-->

        </div>
    }

   
</body>
</html>