@model Product;

<!DOCTYPE html>
<html>
<head>
    <title>Menu Page</title>
</head>
<body>
    <div class="background">
        <div class=" menuAlign">
        <h3>Main Dish</h3>
            </div>
    <div class="container">
        <div class="image ">
            <img src="~/FoodPics/ondeh.jpg" />
            <h3>Ondeh Ondeh</h3>
            <h3>$2.00</h3>
            <a class="add-cart cart1" href="#">Add Cart</a>
        </div>
        <div class="image ">
            <img src="~/FoodPics/pulut.jpg" />
            <h3>Pulut Urap</h3>
            <h3>$3.00</h3>
            <a class="add-cart cart2" href="#">Add Cart</a>
        </div>
        <div class="image ">
            <img src="~/FoodPics/nasiPadang.jpg" />
            <h3>Nasi Padang</h3>
            <h3>$7.50</h3>
            <a class="add-cart cart3" href="#">Add Cart</a>
        </div>
        <div class="image ">
            <img src="~/FoodPics/badak.jpg" />
            <h3>Badak Berendam</h3>
            <h3>$3.00</h3>
            <a class="add-cart cart4" href="#">Add Cart</a>
        </div>
        </div>

    </div>
  
</body>
</html>