@model Product;

<!DOCTYPE html>
<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>

    <style>
        h1 {
            font-family: "Inter"
        }

        .container {
            font-family: "Inter"
        }
    </style>
    <title>Menu Page</title>
</head>
<body>
    <div class="background">
        <div class=" menuAlign">
        <h1><b>MAIN &nbsp; DISH</b></h1>
            </div>
    <div class="container">
        <div class="image ">
            <img src="~/FoodPics/ondeh.jpg" />
            <h4>Ondeh Ondeh</h4>
            <h5>$2.00</h5>
            <a class="add-cart cart1" href="#">Add Cart</a>
            <br />
        </div>
        
        <div class="image ">
            <img src="~/FoodPics/pulut.jpg" />
            <h4>Pulut Urap</h4>
            <h5>$3.00</h5>
            <a class="add-cart cart2" href="#">Add Cart</a>
        </div>
        <div class="image ">
            <img src="~/FoodPics/nasiPadang.jpg" />
            <h4>Nasi Padang</h4>
            <h5>$7.50</h5>
            <a class="add-cart cart3" href="#">Add Cart</a>
        </div>
        <div class="image ">
            <img src="~/FoodPics/badak.jpg" />
            <h4>Badak Berendam</h4>
            <h5>$3.00</h5>
            <a class="add-cart cart4" href="#">Add Cart</a>
        </div>
        </div>

    </div>
  
</body>
</html>