@model List<Testimonial>;

<!DOCTYPE html>
<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    @section ScriptSection{

    }

    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            background-image: url(/Logo/leaf4.jpg);
            background-size: cover;
            background-position: center;
            width: 100%;
            background-color: white;
            color: #FFFFFF;
        }

        .container {
            font-family: 'karla';
        }

        .wrapper {
            margin-top: 10%;
            
        }

            .wrapper h1 {
                font-family: 'Raleway';
                font-size: 52px;
                margin-bottom: 60px;
                text-align: center;
                margin-left:30%;
                width:40%;
                background-color: white;
                color:black;
                background-size: inherit;

            }

        .test {
            display: flex;
            justify-content: center;
            width: auto;
            text-align: center;
            flex-wrap: wrap;
            font-family: 'Raleway';
        }

            .test .test_name {
                background: #fff;
                margin: 5px;
                margin-bottom: 50px;
                width: 300px;
                padding: 20px;
                line-height: 20px;
                color: #8e8b8b;
                position: relative;
            }

                .test .test_name h3 {
                    color: #81c644;
                    font-size: 26px;
                    margin-top: 100px;
                }

                .test .test_name .food {
                    color: #ccc;
                    margin: 12px 0;
                    font-size: 12px;
                    text-transform: uppercase;
                }

                .test .test_name .food_pic {
                    position: absolute;
                    top: -50px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                    background: #fff;
                }

                    .test .test_name .food_pic img {
                        width: 150px;
                        height: 170px;
                        padding: 15px;
                        border-radius: 50%;
                    }
    </style>

    <title>Testimonials</title>
</head>

<body>

    <div class="wrapper">
        <h1>Testimonials</h1>

        @foreach (Testimonial row in Model)
        {
            <div class="test">
                <div class="test_name">
                    <div class="food_pic">
                        <img src="~/Logo/Without Slogan/mesah_delicacies_logo-11.png" />
                    </div>
                    <h3>@row.TestName</h3>
                    <p class="food">@row.ProductName</p>
                    <p>@row.Testi</p>
                </div>
            </div>
            }

    </div>
</body>
</html>