<!DOCTYPE html>
<html>
<head>
    @section ScriptSection{

    }
    <style>


        .hero {
            background-color: white;
            color: #FFFFFF;
            text-align: center;
            background-image: url(/Logo/leaves6.jpg);
            background-size: cover;
            background-position: center;
            width: 100%;
        }

        .sidekick {
            background-color: transparent;
            color: #FFFFFF;
            text-align: center;
            font-family: 'Karla';
        }

    </style>
    <title>Testimonials</title>
</head>

<body>


    <div class="hero">
        <div class="sidekick">
            <h1>Testimonials</h1>
            <br />
            <br />
            <p>
                "Thank you for the nice Nasi Lemak. Our review is 5 STARS and Thumbs Up! My family loves the taste"
                - Mr Zul on Nasi Lemak Chicken & Fish
            </p>
            <br />
            <p>
                "The food was great, thank you. The rice was a bit too much and many couldn't finish, it was a bit of a wastage."
                - Mr Asyraf on Nasi Sambal Goreng Chicken & Beef
            </p>
            <br />
            <p>
                "Nasi Lemak was good! Chilli super nice. Maybe next time can have more add ons."
                - Ms Zhu Qing on Nasi Lemak Chicken
            </p>
            <br />
            <p>
                "The food was very nice. Definitely will order with you again"
                - Ms Jayne
            </p>
            <br />
            <p>
                "We enjoyed the lunch so much. Where did you get the Nasi Sambal Goreng from? Very delicious!"
                - Friend of Ms Fazira
            </p>
            <br />
            <p>
                "Where did you order from? My husband said it's sedap!"
                - Friend of Ms Fazira
            </p>
            <br />
            <p>
                "Alhamdulillah. Sedap Nasi Goreng Sambal."
                - Friend of Ms Fazira
            </p>
            <br />
            <p>
                "Nasi Sambal Goreng power!! Sedap gila, the ayam power!"
                - Ms Fazira
            </p>

        </div>
    </div>

</body>
</html>

<!--Idk how to format it yet, im thinking of doing it with gridview but idk how sooo research time-->