<!DOCTYPE html>
<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    @section ScriptSection{

    }

    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            background-image: url(/Logo/leaf4.jpg);
            background-size: cover;
            background-position: center;
            width: 100%;
            background-color: white;
            color: #FFFFFF;
        }

        .container {
            font-family: 'karla';
        }

        .wrapper {
            margin-top: 10%;
            
        }

            .wrapper h1 {
                font-family: 'Raleway';
                font-size: 52px;
                margin-bottom: 60px;
                text-align: center;
                background-color: white;
                color:black;
                background-size: inherit;
                //HELOOOOOO ZILLLLLLLLLLLLLLLLLL SIZE THIS SHIT

            }

        .test {
            display: flex;
            justify-content: center;
            width: auto;
            text-align: center;
            flex-wrap: wrap;
            font-family: 'Raleway';
        }

            .test .test_name {
                background: #fff;
                margin: 5px;
                margin-bottom: 50px;
                width: 300px;
                padding: 20px;
                line-height: 20px;
                color: #8e8b8b;
                position: relative;
            }

                .test .test_name h3 {
                    color: #81c644;
                    font-size: 26px;
                    margin-top: 100px;
                }

                .test .test_name .food {
                    color: #ccc;
                    margin: 12px 0;
                    font-size: 12px;
                    text-transform: uppercase;
                }

                .test .test_name .food_pic {
                    position: absolute;
                    top: -50px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                    background: #fff;
                }

                    .test .test_name .food_pic img {
                        width: 150px;
                        height: 170px;
                        padding: 15px;
                        border-radius: 50%;
                    }
    </style>

    <title>Testimonials</title>
</head>

<body>


    <div class="wrapper">
        <h1>Testimonials</h1>
            <div class="test">
                <div class="test_name">
                    <div class="food_pic">
                        <img src="~/FoodPics/nasi lemak chicken.jpg" />
                    </div>
                    <h3>Mr Zul</h3>
                    <p class="food">Nasi Lemak Chicken & Fish</p>
                    <p>"Thank you for the nice Nasi Lemak. Our review is 5 STARS and Thumbs Up! My family loves the taste"</p>
                </div>

                <div class="test_name">
                    <div class="food_pic">
                        <img src="~/FoodPics/nasi sambal goreng 1.jpg" />
                    </div>
                    <h3>Mr Asyraf</h3>
                    <p class="food">Nasi Sambal Goreng Chicken & Beef</p>
                    <p>"The food was great, thank you. The rice was a bit too much and many couldn't finish, it was a bit of a wastage."</p>
                </div>

                <div class="test_name">
                    <div class="food_pic">
                        <img src="~/FoodPics/nasi lemak chicken.jpg" />
                    </div>
                    <h3>Ms Zhu Qing</h3>
                    <p class="food">Nasi Lemak Chicken</p>
                    <p>"Nasi Lemak was good! Chilli super nice. Maybe next time can have more add ons."</p>
                </div>

                <div class="test_name">
                    <div class="food_pic">
                        <img src="~/FoodPics/nasi sambal goreng 2.jpg" />
                    </div>
                    <h3>Ms Jayne</h3>
                    <p>"The food was very nice. Definitely will order with you again"</p>
                </div>

                <div class="test_name">
                    <div class="food_pic">
                        <img src="~/FoodPics/nasi sambal goreng 1.jpg" />
                    </div>
                    <h3>Friend of Ms Fazira</h3>
                    <p>"We enjoyed the lunch so much. Where did you get the Nasi Sambal Goreng from? Very delicious!"</p>
                </div>

                <div class="test_name">
                    <div class="food_pic">
                        <img src="~/FoodPics/nasiPadang.jpg" />
                    </div>
                    <h3>Friend of Ms Fazira</h3>
                    <p>"Where did you order from? My husband said it's sedap!"</p>
                </div>

                <div class="test_name">
                    <div class="food_pic">
                        <img src="~/FoodPics/nasi sambal goreng 2.jpg" />
                    </div>
                    <h3>Friend of Ms Fazira</h3>
                    <p>"Alhamdulillah. Sedap Nasi Goreng Sambal."</p>
                </div>

                <div class="test_name">
                    <div class="food_pic">
                        <img src="~/FoodPics/nasi sambal goreng 1.jpg" />
                    </div>
                    <h3>Ms Fazira</h3>
                    <p>"Nasi Sambal Goreng power!! Sedap gila, the ayam power!"</p>
                </div>
            </div>
    </div>
</body>
</html>

<!--idk how to make it square, ill stop here for now-->