<!DOCTYPE html>
<html>
<head>
    @section ScriptSection{

    }
    <style>


        .hero {
            background-color: white;
            color: #FFFFFF;
            text-align: center;
            font-family: 'Haettenschweiler';
            padding-bottom: 350px;
            background-image: url(/Logo/leaves6.jpg);
            background-size: cover;
            background-position: center;
            width: 100%;
        }

    </style>
    <title>Testimonials</title>
</head>

<body>


    <div class="hero">
        <h1>Testimonials</h1>

    </div>

</body>
</html>
