
<table class="table table-condensed table-hover">
    <tr>
        <th>Products</th>
        <th>Name</th>
        <th>Price</th>
        <th style="text-align:center;">Action</th>
    </tr>

    <tr>
        <td>

            <img src="/FoodPics/badak.jpg"
                 width="150" height="90"
                 class="pull-left" style="padding-right: 5px;" />

        </td>
        <td>Badak</td>
        <td>$100</td>
        <td style="text-align: center;">

            <i class="far fa-trash-alt"></i>


        </td>
    </tr>

</table>
<h3>Price Details</h3>
<table class="table table-condensed table-hover">

    <tr>

        <th>Products</th>
        <th>Delivery Charges</th>
        <th>Amout Payble :</th>
        <th style="text-align:center;">Payment</th>

    </tr>
    <tr>
        <td>$100 </td>
        <td>Free</td>
        <td>$100</td>
        <td>
            <button type="submit">Checkout</button>
        </td>
        
    </tr>

    
  
</table>