<!DOCTYPE html>
<html>
<head>
    <title>Shopping Cart</title>
    </head>

<body>

    <div class="product-container">
        <h5 class="product-title">PRODUCT</h5>
        <h5 class="price">PRICE</h5>
        <h5 class="quantity">QUANTITY</h5>
        <h5 class="total">TOTAL</h5>

    </div>
    <div class="products">
        dfghjk
        </div>

    </body>
</html>
